// colors

$dark-purple: #100819;
$off-white:  #a5afda;
$uni-blue:#475Dc2; 
$light-blue:#4994c2;

//#3640a3;

//size

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:45rem;
